.filterProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 30px;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 20px 0;
  background-color: #ffffff;
  .error-message {
    color: #868686;
    background-color: #f8d7da;
    padding: 1rem 1.4rem;
    margin-bottom: 1.8rem;
    margin-top: -1rem;
    border: 1px solid #f5c6cb;
    border-radius: 0.8rem;
    font-size: 16px;
    font-weight: 500;

    display: none;
    justify-content: space-between;
    align-items: center;
  }
  .filter-form {
    display: flex;
    align-items: flex-end;
    //justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    .filter-inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  input {
    padding: 5px 10px;
    border: 1px solid #015a9d;
    border-radius: 8px;
  }
  select {
    padding: 5px 10px;
    border: 1px solid #015a9d;
    border-radius: 8px;
    cursor: pointer;
  }
  button {
    padding: 5px 10px;
    border: 1px solid #015a9d;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: #015a9d;
      color: #ffffff;
    }
  }
}