.register-btn2 {
  margin-top: 20px;
  background: #103755FF;
  padding: 5px 10px;
  color: #ffffff;
  &:hover {
    background: #2100b2;
  }
}

.login-btn2 {
  margin-top: 20px;
  background: #EEB808FF;
  padding: 5px 10px;
  color: #ffffff;
  &:hover {
    background: #a47f05;
  }
}